.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    .row {
        width: 100%;

        &:after,
        &:before {
            clear: both;
            display: block;
            content: '';
        }

        [class*="col-"] {
            float: left;
            min-height: 1px;
            width: $singleColumnWidth;
            padding: 10px;
        }
        @for $i from 1 through $columns {
            .col-sm-#{$i} {
                width: ($singleColumnWidth * $i);
            }
        }
        @media (min-width: $tablet) {
            @for $i from 1 through $columns {
                .col-md-#{$i} {
                    width: ($singleColumnWidth * $i);
                }
            }
        }
        @media (min-width: $desktop) {
            @for $i from 1 through $columns {
                .col-lg-#{$i} {
                    width: ($singleColumnWidth * $i);
                }
            }
        }
    }
}
