$columns: 12;

$singleColumnWidth: 100%/$columns;

$tablet: 537px;
$desktop: 760px;
$media-mobile-slider: 699px;
$boxes-threshold: 699px;
$media-mobile-tablet: 700px;

$slider-height: 450px;
$slider-height-mobile: 550px;


$colors:  #fff, #38C3AD, #1c1a1a, #f1f1f1, #F9F9F9, #D4D4D4, #27C7AB, #118771, #E4E4E4, #C2C2C2, #8F8F8F, #9B9B9B, #A1E6D1, #C9C9C9, #8de0d2;
